* {
  margin: 0;
  padding: 0;
}

body {
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
}

#container h1 {
  position: absolute;
  top: 100px;
  left: 320px;
  color:#ffffff;
  
}

.content {
  background-color: #000000;
  position: absolute;
  right: 0;
  left: 0;
  top: 180px;
  bottom: 50px;
  margin-top:10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  max-height: 100%;
  overflow-y: scroll;
  text-align: center;
}

.content-inner {
  padding: 5px;
  column-count: 4;
  column-gap: 1px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


/* Navigation styles */
.bg-dark {
  background-color: #000000!important;
}

.nav-link.active {
  color: #01ff0e!important;
}

/* Giphy simple view */

.giphy-simple {
  width: 200px;
  display: inline-block;
  margin: 10px 0;
}

.content .wrapper{
  position: relative;
  display: inline-block;
  height: 100%;
}

.giphy-simple .favorite {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  color: #ffeb00;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}

.giphy-simple .favorite .favorite {
  right: 0;
  top: 0;
} 

.giphy-image {
  object-fit:cover;
}

.user-info{
  bottom: 10px;
  position: absolute;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.user-info .avatar {
  width: 40px;
  height: 40px;
}

.user-info .username, .user-info .avatar-holder {
  display: inline-block;
  margin-left: 5px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}