* {
  margin: 0;
  padding: 0;
}

body {
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
}

#container h1 {
  position: absolute;
  top: 100px;
  left: 320px;
  color:#ffffff;
  
}

.content {
  background-color: #000000;
  position: absolute;
  right: 0;
  left: 0;
  top: 180px;
  bottom: 50px;
  margin-top:10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  max-height: 100%;
  overflow-y: scroll;
  text-align: center;
}

.content-inner {
  padding: 5px;
  column-count: 4;
  column-gap: 1px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


/* Navigation styles */
.bg-dark {
  background-color: #000000!important;
}

.nav-link.active {
  color: #01ff0e!important;
}

/* Giphy simple view */
.giphy-simple {
  width: 200px;
  display: inline-block;
  margin: 10px 0;
}

.content .wrapper{
  position: relative;
  display: inline-block;
  height: 100%;
}

.giphy-simple .favorite {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  color: #ffeb00;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}

.giphy-simple .favorite .favorite {
  right: 0;
  top: 0;
} 

.giphy-image {
  object-fit:cover;
}

.user-info{
  bottom: 10px;
  position: absolute;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.user-info .avatar {
  width: 40px;
  height: 40px;
}

.user-info .username, .user-info .avatar-holder {
  display: inline-block;
  margin-left: 5px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.single-gif-content {
  padding-top: 50px;
  max-width: 600px;
}

.gif-info {
  display: flex;
}

.col {
  flex: 50%;
}
.col>p {
  color: #CE2536;
  margin: 0px;
  text-align: left;
  padding-left: 60px;
  padding-right: 0px;
}

/* upload form */
.content.upload {
  padding-top: 50px;
  max-width: 600px;
  height: 350px;
}

#container form{
  position: absolute;
  top: 140px;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
}

#container form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}

#container form input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
}

#container form button{
  margin: 0;
  color: #fff;
  background:#ce2535;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  font-weight: 600;
  font-size: 18px;
}

#container form button:hover {
  background: #f4f313;
  color: #141619;
}

#container form button:active{
  border:0;
}

/* UPLOAD Message */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000c4; /* Black w/ opacity */
}

.modal.modal-open {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  height: 200px;
  width: 500px !important;
  background-color: #000000;
  margin: 200px auto; 
  padding: 20px;
  top: 330px;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #01ff0e;
  color:#ffffff
}

.modal p {
  font-size: 25px;
}

/* The Close Button */
.close-modal {
  color: #01ff0e;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #f4f313;
  text-decoration: none;
  cursor: pointer;
}